<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css"> 
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/fonts.css">
    <link href="{{ FEED_DOMAIN }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
    {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock head %}
</head>

<body>
    <section id="navbar">
        <div class="user_meta">
            <h1 id="user"><a href="{{ SITEURL }}" class="">{{ SITENAME }}</a></h1>
            <h2>{{ TAGLINE }}</h2>
        </div>
        <div class="nav-button">
            <ul>
              {% if DISPLAY_PAGES_ON_MENU %}
                            {% for p in PAGES %}
                                    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                            {% endfor %}
                    {% else %}
                            {% for cat, null in categories %}
                                    <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                            {% endfor %}
                    {% endif %}
                    {% for title, link in MENUITEMS %}
                            <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                    {% for name, link in SOCIAL+LINKS %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                    {% endfor %}
             </ul>
         </div>
     </section>

     <section id="sidebar">
        <div class="user_meta">
            <h1 id="user"><a href="{{ SITEURL }}" class="">{{ SITENAME }}</a></h1>
            <h2>{{ TAGLINE }}</h2>
            <ul>
                {% if DISPLAY_PAGES_ON_MENU %}
                        {% for p in PAGES %}
                                <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                        {% endfor %}
                {% else %}
                        {% for cat, null in categories %}
                                <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                        {% endfor %}
                {% endif %}
                {% for title, link in MENUITEMS %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% for name, link in SOCIAL+LINKS %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <footer>
            <address>
                Powered by <a href='http://docs.getpelican.com/en/latest/'>Pelican</a>,
                <a href='https://github.com/CNBorn/pelican-svbtle#readme'>pelican-svbtle</a> theme.
            </address>
        </footer>
    </section>

    <section id="posts">
        {% block content_title %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </section>

    {% include 'analytics.html' %}
</body>
</html>
